<div class="row">
  <div class="large-12 columns">
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text">Workipedia</li>
          <li><a href="/workipedia/">Home</a></li>
          <li><a href="/workipedia/apps/">Apps</a></li>
          <li><a href="/workipedia/explore/">Explore</a></li>
          <li><a href="/workipedia/contribute/">Contribute</a></li>
          <li><a href="/workipedia/developer/">Developer</a></li>
          <li><a href="/workipedia/about/">About</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><input type="search" placeholder="Search Workipedia"></li>
          <li><button type="button" class="button">Search</button></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<br><br>